@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.container{
    
  position: relative;
  height: 100%;
  /* background-size: cover; */
  width: 100%;
  background-color: #020F1F;
  overflow: hidden;
}

.image{
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left:20%;
  /* mix-blend-mode: hard-light; */
  /* object-fit: cover; */
  /* align-items: center; */
}

.image img{
width: 100%;
height: 100%;
}

.nav-bar {
    top: 0;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 3;
    transition: 0.9s;
  
  }

  .container .nav-bar .navbar a
  {
    font-size: 25px;
    
    padding :2rem;
    
  }

  .logo {
    height: auto;
    list-style: none;
    margin-left: 30px;
    font-size: 2rem;

  }
  .logo a{
    color: white;
    text-decoration:none;
  }
  nav ul {
    display: flex;
    float: right;
    position: relative;
    right: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin-right: 70px;
    mix-blend-mode: screen;
    padding: 40px 5%; 

  }

  .navbar a {
    /* z-index: 1; */
    font-family: 'Italiana', serif;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    color: white;
  }

  .home{
    position: absolute;
    bottom: 7%;
    align-items: center;
    justify-content: center;
    width: 26%;
    left: 37%;
    text-align: center;
    color: white;
    overflow: hidden;
  }

  .home h1{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 122px;
    letter-spacing: 0em;
    font-family: 'Carter One', cursive;
    font-family: 'Rowdies', cursive;
    font-family: 'Lavishly Yours', cursive;
  }

  .two{
    position: absolute;
    left: 3%;
    top: 20%;
    text-align: center;
    align-items: center;
    color: white;
    /* text-shadow: 1px 10px; */
  }

  .two2{
    position: absolute;
    right: 3%;
    top: 20%;
    text-align: center;
    align-items: center;
    color: white;
  }

  /* cards */

  .creators{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
    background: #020F1F;
    }

  .creators-text {
    width: 100%;
    background: #020F1F;
    color: #fff;
    position: relative;
    top: 0;
    font-size: 2.5rem;
  }

  .card{
    display: flex;
   
    width: 1120px;
    display: flex;
    flex-direction: row;
    padding: 0px;
     gap: 48px;
     left: 120px;
     background: #020F1F;
    color: #fff;
    margin-bottom: 4rem ;
    margin-top: 2rem;


  }
  .box1{
    width: 600px;
    height: 177px;
   
    text-align: center;
    /* background: #020F1F; */
    color: #fff;

  }
  .box1 h1{
    padding: 10px;
    position: relative;
    top: 90px;
    left: -100px;
    color: #fff;
  }
  .box1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 10px;
    position: relative;
    top: 100px;
    left: 30px;
  }
  .box1 i{
    position: relative;
    top: 100px;
    left: -150px;
    font-size: 1.5rem;
    padding: 5px;
  }
  .box2 img{
    width: 477px;
    height: 377px;
    object-fit: contain;
  }

  /* footer */
  .footer{
    width: 100%;
    position: relative;
    top: 100px;
    display: flex;
    background-color: #122a46;
    color: white;
    padding-bottom: 30px;
  }
  .b1{
    /* padding: 20px; */
    /* text-align: center; */
    position: relative;
    left:230px;
    line-height: 20px;
    top: 30px;
    width: 40%;
  }

  .b2{
    display: flex;
    padding: 20px;
    position: relative;
    left:200px;
    /* flex-direction: column; */
  }

  .x{
    margin-left: 60px;
    list-style: none;
    text-align: center;
  }

  /* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;

  } */

  .container .nav-bar .navbar a
{
    font-size: 25px;
    margin: 20px;
}
  .container .nav-bar .icons div
{
    border:0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background:#d5d5d5;
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

  #menu-btn
  {
      display:none
  }

  .container .nav-bar .navbar.active 
  {
      right: 2rem;
      transition: .4s linear;
  }
 #teachers p
{
  font-size: 20px ;
  font-weight: bold;
}


  @media (max-width: 991px)
  {
    html
    {
        font-size:62.5%;

    }

    .container
    {
        padding: 0.5rem;
    }
    
  }

  @media (max-width: 768px)
  {
    #menu-btn
    {
         display:inline-block;
         margin: 1rem;
    }
        
    
  .card{
    display: flex;
    flex-direction: column;
    border: 1px ;
    width: 80%;
    display: flex;
    
    padding: 0px;
     gap: 48px;
   
     background: #020F1F;
    color: #fff;
    margin-bottom: 15rem ;
    margin-top: 2rem;
    transition: none;

  }
  .card .box1
  {
    width: 90%;
    padding: 7 15rem;
    margin-top:5rem ;
    margin-bottom: 4rem;
  }
  .card .box2
  {
    width: 90%;
    padding: 7 15rem;
    margin-top:5rem ;
    margin-bottom: 4rem;
  }


    .container .nav-bar .navbar
    {
        position: absolute;
        top: 110%;
        right:-110%;
        width: 17rem;
        box-shadow:#eee;
        border-radius:  0.5rem ;
        background: rgba(0, 0, 0, .5);

    }


    .container .nav-bar .navbar a
    {
        font-size: 2.5rem;
        margin: 2.5rem 3rem;
        display:block;
    }

    @media (max-width: 450px)
    {
        html
        {
            font-size:50%;
        }
    
       
       
    }

  }